<!-- Simple skeleton recipe card template (plain list style) -->
<div class="skeleton-recipe-card">
  <div class="card recipe-card position-relative">
    <div class="card-body p-3">
      <!-- Simple Header: Real icons + skeleton content -->
      <div class="recipe-header">
        <div class="d-flex align-items-center">
          <!-- Real checkbox (we know this will be there) -->
          <div class="checkbox-container">
            <input type="checkbox" class="selectRecipe" disabled>
          </div>
          
          <!-- Skeleton content area (unknown recipe data) -->
          <div class="flex-grow-1 recipe-title-area">
            <div class="skeleton skeleton-title"></div>
            <div class="skeleton skeleton-subtitle"></div>
          </div>
          
          <!-- Real fullscreen icon (we know this will be there) -->
          <div class="fullscreen-toggle" role="button" title="View recipe in fullscreen">
            <i class="fas fa-expand"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>